@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin : 0px;
  padding : 0px;
  font-family: 'Lato', sans-serif;
}
.page{
  display: flex;
  align-items: center;
  justify-content: center;
  position: initial;
  height: 30vh;
  margin-top: 0px;
  font-size: 3rem;
}
